body{
	background-image: url("https://images.unsplash.com/photo-1437326516294-01d0da392e11?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f170d83f06cd019ec8128d545434eb6&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
  	background-size: cover;
  
}
.date,.clock,.vous,.sites,.applications,.formations,.experiences,.competences,.loisirs,.sport{
	color:white;
}
.date,.clock{
	font-size: 2em;
}
.cecile{
	text-align: center;
	color: white;
	font-size: 5em;
}
.dev,.web{
	text-align: center;
	color:white;
	font-size: 4em;
	margin-bottom: 2%;
}
.cont{
	text-align: center;
	color:white;
}
.navbar{
	background-color: red;
	color:white;
	font-size: 150%;
	border-radius: 20px 20px 20px 20px;
}
.datef,.toulouse{
	margin-top: 2%;
	font-size: 2em;
}
.front{
	font-size: 2em;
	}
.simplon{
	margin-top: 2%;
	font-size: 180%;
}
.iconc{
	margin-top: 2%;
	margin-bottom:1.5%;
}
.competences{
	font-size: 180%;
}
.vous,.sites,.applications{
font-size: 2em;
}
.cont{
	font-size: 3em;
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 2em;    
}
