body{
	background-image: url("https://images.unsplash.com/photo-1437326516294-01d0da392e11?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f170d83f06cd019ec8128d545434eb6&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
  	background-size: cover;
  
}
.date,.clock,.vous,.sites,.applications,.formations,.experiences,.competences,.loisirs,.sport{
	color:white;
}
.date,.clock{
	font-size: 2em;
}

.cecile{
	text-align: center;
	color: white;
	font-size: 5em;
}
.dev,.web{
	text-align: center;
	color:white;
	font-size: 4em;
}
.cont{
	text-align: center;
	color:white;
}
.navbar{
	height: 5%;
	background-color: red;
	color:white;
	font-size: 50%;
	border-radius: 5px 5px 5px 5px;
}
.formations{
	font-size: 70%;
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 80%;    
}
