body{
	background-image: url("https://images.unsplash.com/photo-1437326516294-01d0da392e11?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f170d83f06cd019ec8128d545434eb6&auto=format&fit=crop&w=750&q=80");
}
.date,.clock{
	color:white;
}
.cecile{
	text-align: center;
	color: white;
}
.dev,.web{
	text-align: center;
color:white;
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
        
}
.suivezmoi{

}