h1{
	text-align:center;
}
.nom{
	text-align:center;
	font-size: 350%;
	margin:5%;
}
.formations{
	font-size: 120%;
	margin:2em;
}
.competences{
	text-align: center;
	font-size: 180%;
	margin:1em; 
}
.loisirs{
	text-align: center;
	font-size: 180%;
	margin:1em; 
}
.texthome{
	text-align: center;
	font-size: 200%;
}
.ui.six.item.menu{
	margin:3em; 
}