h1{
	text-align:center;
}
.nom{
	text-align:center;
	font-size: 350%;
	margin:5%;
	color:#0E6EB8;
}
.formations{
	font-size: 120%;
	margin:2em;
	color:#0E6EB8;
}
.competences{
	text-align: center;
	font-size: 180%;
	margin:1em; 
	color:#0E6EB8;
}
.experiences{
	color:#0E6EB8;
}
.loisirs{
	text-align: center;
	font-size: 180%;
	margin-top:2%; 
	color:#0E6EB8;
	
}
.sport{
	text-align: center;
	font-size: 180%;
	margin:1em;
	margin-bottom:15%; 
	color:#0E6EB8;
}
.texthome{
	text-align: center;
	font-size: 200%;
	color:#0E6EB8;
	margin:5%;
}
.ui.six.item.menu{
	margin:3em; 
}
