.space{
height:5%;
}
.titre{ 
text-align:center;
color:red;
font-size:4em;
line-height:1;
}
body{
	background-image: url("https://unsplash.it/1600/800?image=0");
	/*background-image: url("background.jpg");*/
	background-repeat:no-repeat;
	background-size:cover;	
	height:700px;
}
menu{
	margin-top: -10%;
}
#menu{
	font-size:120%;
	font-weight: Bold;
}
.acceuil{
	color:white;
	font-size:2em; 
}
.spaceTitle{
	height:5em;
}
.pmpsp{
	font-size:80%;
}
.nom{
	text-align:center;
	font-size: 350%;
	margin:5%;
}
.formations{
	font-size: 160%;
	margin-top:5%;
	color:red;
}
.listeHome{
	font-size:60%;
	font-weight: Bold;
	line-height: 1,20;
}
.listeHome2{
	font-size:60%;
	margin-left:10%;
	line-height: 0;
}
.cdd{
	font-weight: Bold;
}
.homeContactez{
	margin-top:4%;
}
.homeVous{
	font-weight: Bold;
	margin-bottom: 6%;
}
li{
	list-style-type:none;
	color:red;
	font-weight: Bold;
	font-size:170%; 

}
ul{
	list-style-type:none;
	text-align: center;
	font-size:100%; 
	color:white;
}
.experiences{
	color:red;
	margin-top:3%; 
	font-size:120%;
	font-weight: Bold;
	line-height: 0;
}
.iconComp{
	margin-bottom: 5%;
}
.loisirs{
	text-align: center;
	font-size: 2em;
	font-weight: Bold;
	margin-top:5%;
	line-height: 0; 
	color:red;
}
.sport{
	text-align: center;
	font-size: 2em;
	font-weight: Bold;
	margin:1em; 
	line-height: 0;
	color:red;
}
.texthome{
	font-size: 150%;
	color:white;
	margin:5%;
}
.texthome2{
	font-size: 150%;
	color:white;
	text-align: center;
}
.contactezmoi{
	margin-top:-5%;
	font-size:2em;
	color:red;
	font-weight: Bold;
	text-align:center;
}
.textanswer{
	font-size: 150%;
	color:#0E6EB8;
	text-align: center;
}
.icon{
	text-align: center;
}

.merci{
	text-align: center;
	font-size: 200%;
}
