body{
	background-image: url("https://picsum.photos/320/547?image=992");
    background-repeat: no-repeat;
  	/*background-size: cover;*/
}
.datef,.simplon,.toulouse{
font-size: 180%;
}
.nom{
	text-align: center;
	font-size: 7em;
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: red;
    color: white;
    font-size: 2em;    
}
.vous,.sites,.applications{
		margin-top: -5%;
		margin-left:10%;
		font-size:5em;
}
.vous{
	margin-top: 10%;
}
.cont{
	font-size: 6em;
	text-align: center;
	color:white;
}
.suivezmoi,.icon{
display: inline-block;
}
.suivezmoi,.icon{
	margin-top: 2%;
	font-size: 180%;
}
.source,.picsum{
	float: left;
	display: none;
 	font-size: 200%;
 	color: white;
}
.picsum{
	margin-left: 5%;
}
.icon{
	display: inline-block;
}

.formations{
	font-size: 160%;
	text-align: center;
}
.front{
	font-size: 70%;
}
.iconc{
	font-size: 160%;
	margin-bottom: 10%;
}
.compLanguages{
	font-size: 300%;
}
.experiences,.loisirs{
	margin-top: 10%;
	font-size: 300%;
}
.formulaire{
	margin-top: 10%;
	font-size: 400%;
	height: 200%;
}