	body{
		background-image: url("https://images.unsplash.com/photo-1460626399219-57a00a2361cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2b0dbaff97285326c81f4a467b65f4c&auto=format&fit=crop&w=750&q=80");
	    background-repeat: no-repeat;
	  	background-size: cover;
	  
	}
	.date,.clock{
		font-size: 4em;
	}
	.cecile{
		text-align: center;
		color: red;
		font-size: 5em;
	}
	.dev,.web{
		text-align: center;
		color:red;
		font-size: 4em;
		margin-bottom: 2%;
	}
	.cont{
		text-align: center;
		color:red;
	}
	.vous,.sites,.applications{
	font-size: 2em;
	}
	.vous{
		margin-top: 2%;
	}
	.cont{
		margin-top: 2%;
		font-size: 3em;
	}
