body{
	background-image: url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=88dbc8a18037b2ac4800955d981db909&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
  	background-size:1000px 1200px;
  	font-family: 'Alice', sans-serif;
 
}.datef,.simplon,.toulouse{
font-size: 180%;
}
.temps{
	height:3.5%;
}
.nom{
	margin-top: 10%;
	text-align: center;
	font-size: 7em;
	
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color:#6f2108;
    color: white;
    font-size: 2em;    
}
.vous,.sites,.applications{
		margin-top: -5%;
		margin-left:10%;
		font-size:5em;
}
.vous{
	margin-top: 10%;
}
.cont{
	font-size: 6em;
	text-align: center;
	color:white;
}
.suivezmoi,.icon{
display: inline-block;
}
.suivezmoi,.icon{
	margin-top: 2%;
	font-size: 180%;
}
.source,.picsum{
	float: left;
	display: none;
 	font-size: 200%;
 	color: white;
}
.picsum{
	margin-left: 5%;
}
.icon{
	display: inline-block;
}

.formations{
	font-size: 160%;
	text-align: center;
}
.front{
	font-size: 70%;
}
.iconc{
	font-size: 160%;
	margin-bottom: 10%;
}
.compLanguages{
	font-size: 300%;
}
.experiences,.loisirs{
	margin-top: 10%;
	font-size: 300%;
}
.formulaire{
	margin-top: 10%;
	font-size: 400%;
	height: 200%;
}