.formations{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.datef,.simplon,.toulouse{
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: center;
	display: inline-block;
	font-size: 180%;
}
.simplon{
	margin-left: 4%;
	margin-right: 4%;
}
.programme{
	font-size: 2em;
	text-align: center;
}
.intégralité{
	font-size: 180%;
}