.date,.clock,.espaceDate{
	display: inline-block;
	font-size: 2em;
}
.date{
	float: left;
}
.clock{
float: right;
}
.nom{
	margin-top: 2%;
	text-align: center;
	color: white;
	font-size: 5em;
	font-family: Pangolin;
	}

.dev,.web{
	text-align: center;
	color:white;
	font-size: 4em;
	margin-bottom: 2%;
}
.cont{
	text-align: center;
	color:white;
}
.vous,.sites,.applications{
	margin-left:10%;
	font-size:2em;
}
.vous{
	margin-top: 2%;
}
.cont{
	margin-top: 2%;
	font-size: 3em;
}
