.date,.clock{
	font-size: 2em;
}
.cecile{
	text-align: center;
	color: white;
	font-size: 5em;
}
.dev,.web{
	text-align: center;
	color:white;
	font-size: 4em;
	margin-bottom: 2%;
}
.cont{
	text-align: center;
	color:white;
}
.vous,.sites,.applications{
font-size: 2em;
}
.vous{
	margin-top: 2%;
}
.cont{
	margin-top: 2%;
	font-size: 3em;
}